@using ApartmentBook.MVC.Features.Payments.Models
@model ApartmentBook.MVC.Features.Apartments.Models.Apartment

@{
    ViewData["Title"] = "Details";
    var payments = ViewData["Payments"] as ICollection<Payment>;
}

<h1>@Model.Name</h1>

<hr />
<div class="row my-2">
    <div class="col">
        <div class="card col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Address</div>
                        Gdynia, @Model.Street @Model.Building/@Model.Flat | 81-208
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Value & Metrage</div>
                        @Model.Value PLN | @Model.Meterage m
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Rent</div>
                        @Model.Rent zł
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Tenant</div>
                        Maciek Winnik
                    </div>
                </li>
                <li class="list-group-item text-center justify-content-evenly">
                    <div class="ms-2 me-auto">
                        <a class="btn btn-primary" asp-action="RedirectToCreatePayment" asp-route-id="@Model?.Id">Create payment</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="col">
        <div class="card col-xl-12 col-sm-12 mb-xl-0 mb-4">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="card col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Amount Paid</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in payments)
            {
                <tr class="table-@(payment.IsPaid ? "success" : "danger")">
                    <th scope="row">@payments.</th>
                    <td>@payment.Type</td>
                    <td>@payment.Amount</td>
                    <td>@payment.AmountPaid</td>
                    <td>
                        <a asp-controller="Payments" asp-action="PayPayment" asp-route-id="@payment.Id" class="btn btn-primary">Pay</a>
                        <a asp-controller="Payments" asp-action="Details" asp-route-id="@payment.Id" class="btn btn-info">Details</a>
                        <a asp-controller="Payments" asp-action="Edit" asp-route-id="@payment.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Payments" asp-action="Delete" asp-route-id="@payment.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
    ];

    const data = {
        labels: labels,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

<style>

</style>
